[submodule "bundle/fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/soy"]
	path = bundle/soy
	url = https://github.com/duganchen/vim-soy.git
[submodule "bundle/clam"]
	path = bundle/clam
	url = https://github.com/sjl/clam.vim.git
[submodule "bundle/headlights"]
	path = bundle/headlights
	url = https://github.com/mbadran/headlights.git
[submodule "bundle/tabman"]
	path = bundle/tabman
    url = https://github.com/kien/tabman.vim
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = https://github.com/wincent/Command-T.github
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree 
    url = https://github.com/scrooloose/nerdtree
[submodule "bundle/snipmate.vim"]
    path = bundle/snipmate.vim 
    url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-surround"]
    path = bundle/vim-surround 
    url = https://github.com/tpope/vim-surround.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
    url = git://github.com/klen/python-mode.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git

[submodule "vim-autocomplpop"]
	path = vim-autocomplpop
	url = https://github.com/chrismetcalf/vim-autocomplpop.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
